<div class="middle-box text-center">
    <header class="panel-heading bg-green-blue text-center">
        <strong>Réservation des ressources</strong>
    </header>
    <div class="widgets-container panel panel-default bg-black-blue">

        <div>
            <div class="row">
                <img class="img-full responsive-img top30" src="../../assets/images/eliteadmin-text.png">
            </div>
        </div>
        <h3 class="top15">Connexion</h3>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="panel-body wrapper-lg top15">
            <div class="form-group">
                <input type="email" placeholder="Username" class="form-control" formControlName="username">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-lg green block full-width bottom15" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
        <p class="top15"> <small>Proxym Group &copy; 2017-2018</small> </p>
    </div>
</div>
