<section class="content">
  <div class="page-container">
    <div class="page-content-wrapper animated fadeInRight">
      <div class="page-content">
        <div class="row wrapper border-bottom page-heading">
          <div class="col-lg-12">
            <h2> Ajouter réservation </h2>
            <ol class="breadcrumb">
              <li><a href="#">Accueil</a></li>
              <li class="active"><strong>Ajouter réservation</strong></li>
            </ol>
          </div>
        </div>
        <div class="wrapper-content ">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <!-- / ibox-title -->
                <div id="demo1" class="ibox-content collapse in">
                  <div class="demo-container">
                    <div class="widgets-container">
                      <div class="row">
                        <div class="col-md-4">
                          <h4>Catégories</h4>
                          <select2 class="select2-active" [cssImport]=true [data]="categoriesData" [width]="300"
                                   (valueChanged)="categoryChanged($event)"></select2>
                        </div>
                        <div class="col-md-4">
                          <h4>Ressources</h4>
                          <select2 [cssImport]=true [data]="resourcesData" [width]="300"
                                   (valueChanged)="changed($event)" [value]="startValue"></select2>
                        </div>

                        <div class="col-md-4">
                          <div class="button-demo js-modal-buttons">
                            <button type="button" class="btn bg-teal top20 right" data-color="teal"><i
                              class="fa fa-plus"></i></button>
                          </div>
                        </div>


                      </div>
                      <!--<div id="external-events">-->
                      <!--<div class='fc-event'>My Event 1</div>-->
                      <!--<div class='fc-event'>My Event 2</div>-->
                      <!--<div class='fc-event'>My Event 3</div>-->
                      <!--<div class='fc-event'>My Event 4</div>-->
                      <!--<div class='fc-event'>My Event 5</div>-->
                      <!--<p>-->
                      <!--<input type='checkbox' id='drop-remove' />-->
                      <!--<label for='drop-remove'>remove after drop</label>-->
                      <!--</p>-->
                      <!--</div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div id="demo2" class="ibox-content collapse in">
                  <div class="demo-container">
                    <div class="widgets-container">

                      <!-- Full Calendar -->
                      <!--<div id="calendar-container">-->
                      <!--<div id="calendar"></div>-->
                      <!--</div>-->
                      <!--TODO  eventResize update parameter -->
                      <p>Display event : {{displayEvent | json}}</p>
                      <div *ngIf="calendarOptions">
                        <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                                         (eventClick)="eventClick($event.detail)"
                                         (select)="calendarClick($event.detail)"
                                         (eventResize)="resizeEvent($event.detail)"
                                         (eventDrop)="updateEvent($event.detail)"
                                         (dayClick)="dayClick($event.detail)"
                                         (clickButton)="clickButton($event.detail)"
                                         [(eventsModel)]="events">
                        </ng-fullcalendar>
                      </div>
                      <!--<div style='clear:both'></div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- start footer -->
        <div class="footer">
          <div class="pull-right">
            <ul class="list-inline">
              <li><a title="" href="index.html">Dashboard</a></li>
              <li><a title="" href="mailbox.html"> Inbox </a></li>
              <li><a title="" href="blog.html">Blog</a></li>
              <li><a title="" href="contacts.html">Contacts</a></li>
            </ul>
          </div>
          <div><strong>Copyright</strong> AdminBag Company &copy; 2017</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Go top -->
</section>


<!-- For Material Design Colors -->
<div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="defaultModalLabel">Ajouter une réservation</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <label class="col-md-6">
            Date debut réservation:
          </label>
          <div class="col-md-6">
            <input [min]="min" [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                   [(ngModel)]="selectedMoments"
                   [selectMode]="'rangeFrom'">
          </div>
          <owl-date-time [pickerMode]="'dialog'" #dt12></owl-date-time>

        </div>

        <div class="row top20">
        <label class="col-md-6">
          Date fin réservation:
        </label>
          <div class="col-md-6">
            <input [min]="min" [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                   [(ngModel)]="selectedMoments"
                   [selectMode]="'rangeTo'">
          </div>
          <owl-date-time [pickerMode]="'dialog'" #dt13></owl-date-time>

        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" [disabled]="!selectedMoments" (click)="showTime()">SAVE CHANGES</button>
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<script>
    $('.js-modal-buttons .btn').on('click', function () {
      var color = $(this).data('color');
      $('#mdModal .modal-content').removeAttr('class').addClass('modal-content modal-col-' + color);
      $('#mdModal').modal('show');
    });
</script>
