<section class="content">
  <div class="page-container">
    <div class="page-content-wrapper animated fadeInRight">
      <div class="page-content">
        <div class="row wrapper border-bottom page-heading">
          <div class="col-lg-12">
            <h2> Calendar </h2>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li><a> Page Layouts </a></li>
              <li class="active"><strong>Calendar</strong></li>
            </ol>
          </div>
        </div>
        <div class="wrapper-content ">
          <div class="row">
            <div class="col-lg-3">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>Draggable Events </h5>
                  <div class="ibox-tools"><a data-target="#demo1" data-toggle="collapse" class="collapse-link"> <i
                    class="fa fa-chevron-up"></i> <i class="fa fa-chevron-down"></i> </a> <a class="dropdown-toggle"
                                                                                             data-toggle="dropdown"
                                                                                             href="#"> <i
                    class="fa fa-wrench"></i> </a>
                    <ul class="dropdown-menu dropdown-user">
                      <li><a href="#">Config option 1</a></li>
                      <li><a href="#">Config option 2</a></li>
                    </ul>
                    <!-- /dropdown-menu -->
                    <a class="close-link"> <i class="fa fa-times"></i> </a></div>
                  <!-- ibox-tools -->
                </div>
                <!-- / ibox-title -->
                <div id="demo1" class="ibox-content collapse in">
                  <div class="demo-container">
                    <div class="widgets-container">
                      <!--<div class="form-group">-->
                      <!--<label (click)="changed()"  class="col-md-2 control-label">Dispositifs</label>-->
                      <!--<form>-->
                      <!--<div class="col-md-5 input-group" >-->
                      <!--<select name="resource" class="_select form-control" [(ngModel)]="selected">-->
                      <!--<optgroup *ngFor="let category of categories" label="{{category.name}}">-->
                      <!--<option *ngFor="let resource of category.ressource" [value]="resource.id">{{resource.modele}}</option>-->
                      <!--</optgroup>-->
                      <!--</select>-->
                      <!--</div>-->
                      <!--<div>{{selected}}</div>-->
                      <!--</form>-->
                      <!--</div>-->

                      <div class="row">
                        <select2 class="select2" [cssImport]=false [data]="exampleData" [width]="240" style="width: 100% !important;"
                                 (valueChanged)="changed($event)" [value]="startValue"></select2>
                      </div>

                      <div class="row">
                        <button (click)="clearEvents()" type="button"
                                class="btn btn-1d m-t-10 bg-green-blue btn-block waves-effect waves-light save-category">
                          <i class="ti-plus"></i> Clear events
                        </button>
                        <button (click)="loadevents()" type="button"
                                class="btn btn-1d m-t-10 bg-green-blue btn-block waves-effect waves-light save-category">
                          <i class="ti-plus"></i> Ajouter une réservation
                        </button>
                      </div>


                      <p>Drag a event and drop into callendar.</p>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div id="calendar-events" class="m-t-20">

                          </div>
                          <!-- checkbox -->
                          <div class="checkbox">
                            <input id="drop-remove" type="checkbox" checked>
                            <label for="drop-remove">
                              Supprimer aprés glissement
                            </label>
                          </div>
                        </div>
                      </div>

                      <!-- Drag a event list-->
                      <!--<div id="external-events">-->
                      <!--<div class='fc-event'>My Event 1</div>-->
                      <!--<div class='fc-event'>My Event 2</div>-->
                      <!--<div class='fc-event'>My Event 3</div>-->
                      <!--<div class='fc-event'>My Event 4</div>-->
                      <!--<div class='fc-event'>My Event 5</div>-->
                      <!--<p>-->
                      <!--<input type='checkbox' id='drop-remove' />-->
                      <!--<label for='drop-remove'>remove after drop</label>-->
                      <!--</p>-->
                      <!--</div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="ibox float-e-margins">
                <div id="demo2" class="ibox-content collapse in">
                  <div class="demo-container">
                    <div class="widgets-container">

                      <!-- Full Calendar -->
                      <!--<div id="calendar-container">-->
                      <!--<div id="calendar"></div>-->
                      <!--</div>-->
                      <p>Display event : {{displayEvent | json}}</p>
                      <div *ngIf="calendarOptions">
                        <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                                         (eventClick)="eventClick($event.detail)"
                                         (eventDrop)="updateEvent($event.detail)"
                                         (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)"
                                         (clickButton)="clickButton($event.detail)"
                                         [(eventsModel)]="events">
                        </ng-fullcalendar>
                      </div>

                      <!--<div style='clear:both'></div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- start footer -->
        <div class="footer">
          <div class="pull-right">
            <ul class="list-inline">
              <li><a title="" href="index.html">Dashboard</a></li>
              <li><a title="" href="mailbox.html"> Inbox </a></li>
              <li><a title="" href="blog.html">Blog</a></li>
              <li><a title="" href="contacts.html">Contacts</a></li>
            </ul>
          </div>
          <div><strong>Copyright</strong> AdminBag Company &copy; 2017</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Go top -->
</section>
<!--<section class="content">-->
<!--<div class="container-fluid">-->
<!--<div class="row wrapper border-bottom page-heading">-->
<!--<div class="col-lg-12">-->
<!--<h2> Calendar </h2>-->
<!--<ol class="breadcrumb">-->
<!--<li><a href="#">Accueil</a></li>-->
<!--<li><a href="#"> Réservation </a></li>-->
<!--<li class="active"><strong>Ajouter réservation</strong></li>-->
<!--</ol>-->
<!--</div>-->
<!--</div>-->


<!--<a (click)="loadevents()"> loadevents</a>-->
<!--<p>Display event : {{displayEvent | json}}</p>-->
<!--<div *ngIf="calendarOptions">-->
<!--<ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)"-->
<!--(eventDrop)="updateEvent($event.detail)"-->
<!--(eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)"-->
<!--(clickButton)="clickButton($event.detail)" [(eventsModel)]="events">-->

<!--</ng-fullcalendar>-->
<!--</div>-->
<!--</div>-->

<!--</section>-->

<script>

</script>
