<section class="content">
  <div class="">
    <div class="page-content-wrapper animated fadeInRight">
      <div class="page-content">
        <div class="row wrapper border-bottom page-heading">
          <div class="col-lg-12">
            <h2> Profile Collaborateur </h2>
            <ol class="breadcrumb">
              <li><a [routerLink]="['accueil']">Accueil</a></li>
              <li class="active"><strong>Profile</strong></li>
            </ol>
          </div>
        </div>
        <div class="wrapper-content ">
          <div class="row">
            <!-- tabs -->
            <div class="col-lg-12 top20">
              <div class="tabs-container">
                <ul class="row nav nav-tabs">
                  <li class="col-xs-6 active"><a href="#tab-1" data-toggle="tab" > Informations</a></li>
                  <li class="col-xs-6"><a href="#tab-2" data-toggle="tab" >Historiques </a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab-1">
                    <div class="panel-body"> <strong>Lorem ipsum dolor sit amet</strong>
                      <div class="ibox">
                        <div class="widgets-container">
                          <h3>Détails personnels </h3>
                          <table class="table small m-b-xs">
                            <tbody>
                            <tr>
                              <td><strong>142</strong> Projects </td>
                              <td><strong>22</strong> Followers </td>
                            </tr>
                            <tr>
                              <td><strong>61</strong> Comments </td>
                              <td><strong>54</strong> Articles </td>
                            </tr>
                            <tr>
                              <td><strong>154</strong> Tags </td>
                              <td><strong>32</strong> Friends </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-2">
                    <div class="panel-body"> <strong>Lorem ipsum dolor sit amet</strong>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                      <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                        sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- tabs -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

